.header{
    background-color: black;
    color:white;
    text-align:center;
    margin: 0px;
}

.header{
    padding: 10px;
}

html{
    margin: 0px;
    padding: 0px;
}

.facts-container{
    display: flex;
    justify-content:center;
    padding:40px 10px;
}

.card{
    width: 100%;
}

.outer-container{
    height:100vh;
    background-image: url('https://www.teahub.io/photos/full/204-2043868_cute-cat-background-best-desktop-images-wallpaper-beautiful.jpg');
    background-size:100%;
}